divyanshuverma.in, www.divyanshuverma.in {
  root * /srv
  file_server

  @backend {
    path /socket.io*
    path /cv
    path /bollyvault
    path /flashchat
  }

  reverse_proxy @backend app:3000

  encode gzip
  tls dev.verma1010@gmail.com
}
